# Huge Kaggle file - NEVER upload
creditcard.csv

__pycache__/
*.pyc
.env
.DS_Store
*.log
transactions_with_predictions.csv
impact_report.pdf
venv/

# Synthetic data – generated automatically every time you run the app
transactions.csv
